openapi: 3.1.0
info:
  title: TheSports Football Competitions Players API
  description: TheSports Football API provides real-time football data feeds covering competitions, teams, players, matches, live scores, lineups, statistics, standings, and match analysis worldwide. Supports football and soccer leagues including major domestic competitions and international tournaments.
  version: '1.0'
  contact:
    url: https://www.thesports.com/
  termsOfService: https://www.thesports.com/
  license:
    name: Commercial
    url: https://www.thesports.com/api
servers:
- url: https://api.thesports.com/v1
  description: TheSports API v1
security:
- ApiKeyAuth: []
tags:
- name: Players
  description: Football player profiles and statistics
paths:
  /football/player/list:
    get:
      operationId: listPlayers
      summary: List Players
      description: Returns a list of players, optionally filtered by team.
      tags:
      - Players
      parameters:
      - name: user_key
        in: query
        required: true
        schema:
          type: string
        description: Your API authentication key.
      - name: team_id
        in: query
        required: false
        schema:
          type: string
        description: Filter players by team ID.
      responses:
        '200':
          description: List of players
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerListResponse'
  /football/player/additional:
    get:
      operationId: getPlayerDetails
      summary: Get Player Details
      description: Returns detailed information and statistics for a specific player.
      tags:
      - Players
      parameters:
      - name: user_key
        in: query
        required: true
        schema:
          type: string
        description: Your API authentication key.
      - name: player_id
        in: query
        required: true
        schema:
          type: string
        description: The player ID.
      responses:
        '200':
          description: Player details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerDetailsResponse'
components:
  schemas:
    PlayerDetailsResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        results:
          $ref: '#/components/schemas/Player'
    PlayerListResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        results:
          type: object
          properties:
            total:
              type: integer
            data:
              type: array
              items:
                $ref: '#/components/schemas/Player'
    Player:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        common_name:
          type: string
        logo:
          type: string
        team_id:
          type: string
        country_id:
          type: string
        position:
          type: string
        jersey_number:
          type: integer
        age:
          type: integer
        height:
          type: integer
        weight:
          type: integer
        market_value:
          type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: user_key
      description: API key for authentication, obtained from TheSports developer portal.
externalDocs:
  description: TheSports Data API Documentation
  url: https://www.thesports.com/docs
